<div>
    <div class="timer">
        <h4 style="color: #ff4301;"> Days to Go</h4>
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
    </div>
    <audio controls loop style="position: absolute; float: left;width: 10%;">
        <source src="./assets/v2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>