<div style="background-image: url('./assets/gif9.gif');height: 100% ;width: 100%;margin:0;">
  <!-- <iframe src="./assets/h1.mp3" allow="autoplay" id="audio" style="width: 10%;height: 60px;position: absolute;display: None;"></iframe> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

    <a class="navbar-brand" href="#" style="color: #fdb827;font-size: 100px;
        font-family: 'Redressed', cursive; padding-left: 2%;">
      <em id="short">Welcome</em>...G...<em id="short">auri Agarwal</em>
    </a>
  </nav>
  <marquee behavior="" direction="left" width="70%" style="color: #fdb827;font-size: 50px; position: relative;float: right;
   font-family: 'Yellowtail', cursive;"> Wish You a Very Happy Birthday Gauri (G..)</marquee>

  <div class="container-fluid" style="margin-top: 0px; position: relative;">

    <!-- <app-count-down></app-count-down> -->
    <img src="./assets/gif6.gif" alt="Advance Happy Birth day Dear" class="center"
      style="height: 350px;margin-top: 0px;">

    <div style="padding-top: 10px;padding-left: 22%;">
      <iframe src="https://giphy.com/embed/3o7qDE31B2gsTCn98A" width="150" height="80" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
      <iframe src="https://giphy.com/embed/3ohs7W7ACsSvyY5WoM" width="150" height="80" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
      <iframe src="https://giphy.com/embed/qX7Q4wxpRVo88" width="150" height="80" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>
      <iframe src="https://giphy.com/embed/IQF90tVlBIByw" width="150" height="80" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>
      <iframe src="https://giphy.com/embed/DKnMqdm9i980E" width="150" height="80" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>
    </div>
    
    <audio controls loop style="position: relative; width: 10%;">
      <source src="./assets/h1.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <audio controls loop style="position: absolute; width: 10%;float: right;">
      <source src="./assets/h2.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div style="background-image: url('./assets/img5.jpg');height: 700px;width: 100%;">
    <marquee behavior="" direction="">

    </marquee>
    <table style="position:relative; margin-left: 20%; margin-top: 10%; padding: 30px;">
      <tr>
        <td>
          Hey G... wish You a Very happy Birthday Dear
          <hr>
          Wish you many more happy returns of the day.
          Not sure which year is this. But i know how excited you are today.
          And my Prayers and wishes are always there with you. If we are in touch 
          ...Then hurry up give me a call
          and say hi to me with that usual blushing and smilling tone, then you can contiue with your Party.
          <br>
          "Touchwood" if something is not going in your way dont worry.
          Remember the Goblin thing (haha)... from tomorrow everything will go your way, Just be poitive...
          S0 be happy, confident and be as you always are. Again A very happy birthday to you <em>G...</em>
          <br>
          And one more thing close your eyes and just make a WISH............... 
          <br>



        </td>
        <td>
          <img src="./assets/gif10.gif" alt="" style="height: 150px;">

        </td>
      </tr>
    </table>
    <audio controls loop style="position: relative; width: 10%;">
      <source src="./assets/h4.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <audio controls loop style="position: absolute; width: 10%;float: right;">
      <source src="./assets/h3.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>